<div class="col-xs-8 col-md-6 m-auto">
<a href="/" ><img src="https://elasticbeanstalk-eu-west-3-720322189317.s3.eu-west-3.amazonaws.com/Chevrolet-logo1.png" 
	width="100%" height="100%"></a>
</div>
	
<div class="col-md-5 m-auto">
    <div class="card card-body">
	
<h3>{{viewTitle}}<a class="btn btn-secondary" href="/users/logout" style="float: right;"><i class="fas fa-sign-out-alt"></i> Log out</a></h3>

<form action="/treatments" method="POST" autocomplete="off" >
    <input type="hidden" name="_id" value="{{treatment._id}}">
    <div class="form-row">
		<div class="form-group col-md-6">
			<label>Full Name</label>
			<input type="text" class="form-control" name="fullName" placeholder="Full Customer Name" value="{{treatment.fullName}}">
			<div class="text-danger">{{treatment.fullNameError}}</div>
		</div>
		<div class="form-group col-md-6">
			<label>Vehicle model</label>
			<select type="text" class="form-control" name="vehicle" value="{{treatment.vehicle}}">
				<option name="colorado">Colorado</option>
				<option name="cruze">Cruze</option>
				<option name="equinox">Equinox</option>
				<option name="impala">Impala</option>
				<option name="malibu">Malibu</option>
				<option name="silverado">Silverado</option>
				<option name="suburban">Suburban</option>
				<option name="tahoe">Tahoe</option>
				<option name="traverse">Traverse</option>
				<option name="trax">Trax</option>
			</select>
			<div class="text-danger">
				{{treatment.vehicleError}}</div>
		</div>
    </div>
	
	<div class="form-row">
		<div class="form-group col-md-8">
			<label>Treatment</label>
			<input type="text" class="form-control" name="treatment" placeholder="Treatment Details" value="{{treatment.treatment}}">
		</div>
		<div class="form-group col-md-4">
			<label>Cost in USD</label>
			<input type="text" class="form-control" name="cost" placeholder="Cost" value="{{treatment.cost}}">
			<div class="text-danger">
				{{treatment.costError}}</div>
		</div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" value="{{treatment.email}}">
        <div class="text-danger">
            {{treatment.emailError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mobile</label>
            <input type="text" class="form-control" name="mobile" placeholder="Mobile" value="{{treatment.mobile}}">
			<div class="text-danger">
				{{treatment.mobileError}}</div>
        </div>
        <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control" name="city" placeholder="City" value="{{treatment.city}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database" style="padding:0"></i> Submit</button>
        <a class="btn btn-secondary" href="/treatments/list"><i class="fa fa-list-alt" style="padding:0"></i> View All</a>
		<div class="text-danger">
				{{treatment.generalError}}</div>
    </div>
		
</form>
</div>
</div>